{%extends 'base.html'%}

{% block title %}About{%endblock%}

{%block content%}
{%load static%}

<center>
<h1 class="text-center">About Us</h1>
<div id="bg">
     <img src="{% static 'images/coverpic.jpg' %}" alt="" width="60%">
<p class="text-success"><i><b>DISNEY DVD, A Professional company that you can trust</b></i>
     <br>
     <p><i>DVD Empire was launched in 1997 with the goal to revolutionize the sale of DVDs on the Internet. Since then, DVD Empire has fast become one of the premiere Internet sites today by providing customers with an easy to use website, extensive product information, outstanding 100% in-house customer service, secure shopping, and an incredible In Stock selection.
Remember, DVD Empire is a professional company that you can trust. And we don't just sell products, we provide our customers with extensive information while they shop. In-house reviews, customer comments, editorial articles, and interviews with the cast and crew are all available to help you make informed buying decisions.
So if you have not shopped at DVD Empire give us a try... you won't be disappointed.</i></p>

</p>
<br>
</div>
</center>


{%endblock%}